<header class="header wrapper--x">
    <div class="header__container">
        <div class="header__head">
            <div class="header__head--logo">
                <a href="/" class=""><img class="logo blue" src="/uploads/wii-create-logo.png" alt="Wii create Logo"><img class="logo white" src="/uploads/wiicreate-logo-white.png" alt="Wii create Logo"></a>
            </div>
            <div class="flx-center">
                
                <nav class="header__nav--list-wrapper">
                    <ul class="header__nav--list">
                        
                        <li class="active">
                            <a href="">Products</a>
                            <div class="header-dropdown" uk-dropdown="mode: hover; pos: bottom-center" class="">
                                
                                <ul>
                                    <li>
                                        <a class="banner--search-list" href="/get-started">
                                            <img src="/uploads/assets/premium-packs.png" alt="">
                                            <div>
                                                <h4 class="text-medium-auto co-secondary fw-medium mb-5">Prebuilt Packs</h4>
                                                <p class="text-small-auto co-secondary">Choose from one of our popular pre-built packs</p>
                                            </div>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a class="banner--search-list" href="/build-your-pack">
                                            <img src="/uploads/bulid-yours.png" alt="">
                                            <div>
                                                <h4 class="text-medium-auto co-secondary fw-medium mb-5">Build your own pack</h4>
                                                <p class="text-small-auto co-primary">Run wild with custom merch boxes that suits your brand</p>
                                            </div>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a class="banner--search-list" href="/bulk-order">
                                            <img src="/uploads/merch/CopperT-ShirtWii.png" alt="">
                                            <div>
                                                <h4 class="text-medium-auto co-secondary fw-medium mb-5">Bulk Merch</h4>
                                                <p class="text-small-auto co-primary">You can select any product from our wide offerings and buy in bulk.</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                
                                
                            </div>
                        </li>
                        <li>
                            <a href="/get-started">Pricing</a>
                        </li>
                    </ul>
                </nav>

                <a href="/build-your-pack" class="btn btn--secondary">Build your own pack</a>

            </div>
        </div>
        
    </div>
</header>

<div class="mobile-header wrapper--x">
    <div class="">
        <a href="/" class=""><img class="logo white" src="/uploads/wiicreate-logo-white.png" alt="Wii create Logo"></a>
    </div>
    <button data-uk-toggle="target: body; cls: open-nav" class="header--toggler">
        <span></span>
    </button>

    <div class="mobile-header__nav wrapper--x ">
        <div class="py-30">
            <ul>
                <li>
                    <a class="mobile-header__nav__link" href="/">Home</a>
                </li>
                <li uk-accordion>
                    <div class="mobile-header--accordion">
                        <a  class="uk-accordion-title mobile-header__nav__link" href="">Products</a>
                        <ul class="uk-accordion-content mobile-header--accordion__sub">
                            <li><a href="/get-started">Prebuilt Packs</a></li>
                            <li><a href="/build-your-pack">Build your own pack</a></li>
                            <li><a href="/bulk-order">Bulk Merch</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="mobile-header__nav__link" href="/get-started">Pricing</a>
                </li>
            </ul>
            <a href="/build-your-pack" class="btn btn--secondary w-100p mt-50">Build your own pack</a>
        </div>
    </div>
</div>

<span class="closer width" data-uk-toggle="target: body; cls: open-nav"></span>