<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">What type of paper would you like to do?</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="selector is-recomended">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <p class="title">Standard</p>
                <span class="text">16pt (300gsm)</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <p class="title">Premium</p>
                <span class="text">16pt (300gsm)</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <p class="title">Ultra-thick</p>
                <span class="text">16pt (300gsm)</span>
            </div>
        </label>
        
    </div>
</div>

<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">What size would you like?</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="">
            <select class="select" name="" id="">
                <option value="">Standard Wii Size (3.5” x 2.1”)</option>
            </select>
        </label>
    </div>
</div>

<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">What finish would you like your cards to have?</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl pos-r">
        <label class="">
            <select class="select" name="" id="">
                <option value="">Spot UV (Recommended)</option>
            </select>
        </label>
    </div>
</div>

<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">Choose your corners</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="selector is-recomended">
            <input type="radio" name="corners" id="">
            <div class="selector__box d-flx-space">
                <div>
                    <p class="title">Square</p>
                    <span class="text">Sharp & Stylish</span>
                </div>
                <img class="size--w28 icon" src="/uploads/svg/border.svg" alt="">
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="corners" id="">
            <div class="selector__box d-flx-space">
                <div>
                    <p class="title">Rounded</p>
                    <span class="text">Smooth & Rounded</span>
                </div>
                <img class="size--w28 icon" src="/uploads/svg/round-border.svg" alt="">
            </div>
        </label>                    
        
    </div>
</div>

<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">How would you like to design your envelopes?</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="selector">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <img class="image" src="" alt="">
                <p class="title">Front Only</p>
                <span class="text">Lorem Impsum. Content should be enough to fit two lines not more.</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <img class="image" src="" alt="">
                <p class="title">Both Sides</p>
                <span class="text">Lorem Impsum. Content should be enough to fit two lines not more.</span>
            </div>
        </label>
    </div>
</div>


<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">How would you like to design your envelopes?</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="selector">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <div class="image-box bg-gray">
                    <svg class="icon" width="52" height="52">
                        <use xlink:href="/uploads/icon-sprite.svg#template-icon"></use>
                    </svg>
                </div>
                <p class="title">Front Only</p>
                <span class="text">Lorem Impsum. Content should be enough to fit two lines not more.</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="paperType" id="">
            <div class="selector__box">
                <div class="image-box bg-gray">
                    <svg class="icon" width="52" height="52">
                        <use xlink:href="/uploads/icon-sprite.svg#upload-icon"></use>
                    </svg>
                </div>
                <p class="title">Both Sides</p>
                <span class="text">Lorem Impsum. Content should be enough to fit two lines not more.</span>
            </div>
        </label>
    </div>
</div>

<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">What color would you like your shirt to be?</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-white"></span>
                <p class="title">White</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-black"></span>
                <p class="title">Black</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-navy"></span>
                <p class="title">Navy</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-blue"></span>
                <p class="title">Royal Blue</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-navy"></span>
                <p class="title">Red</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-pink"></span>
                <p class="title">Hot Pink</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtColor" id="">
            <div class="selector__box">
                <span class="pallete bg-darkgray"></span>
                <p class="title">Grey</p>
            </div>
        </label>
        
    </div>
</div>


<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">Which part of the t-shirt would you like to print on?</h2>
    <div class="grid-wrapper space-20 col-160 al-i-bl">
        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h80" src="/uploads/svg/chest-front.svg" alt="">
                </div>
                <p class="title">Chest Large</p>
                <span class="text">30x20 cm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h80" src="/uploads/svg/chest-back.svg" alt="">
                </div>
                <p class="title">Chest Left</p>
                <span class="text">10x10 cm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h80" src="/uploads/svg/shirt-back.svg" alt="">
                </div>
                <p class="title">Back Large</p>
                <span class="text">30x35 cm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h80" src="/uploads/svg/shirt-front-back.svg" alt="">
                </div>
                <p class="title">Chest + Back</p>
                <span class="text">30x35 & 30x35 cm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h80" src="/uploads/svg/shirt-front-back-2.svg" alt="">
                </div>
                <p class="title">Chest Left + Back</p>
                <span class="text">10x10; 30x35 cm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h80" src="/uploads/svg/shirt-plain.svg" alt="">
                </div>
                <p class="title">Unprinted</p>
                <span class="text">No return option</span>
            </div>
        </label>
    </div>
</div>


<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">Which part of the t-shirt would you like to print on? 
        <a class="link--italic my-10" href="">
            View Size Guide<svg class="square--20 ml-10">
                <use xlink:href="/uploads/icon-sprite.svg#question-icon"></use>
            </svg></a>
    </h2>
    <div class="flx-center-wrap">
        <label class="size-input mr-10 mb-10" for="">
            <span class="size-input__label">Small:</span>
            <input class="size-input__feild" value="10" type="number" name="" id="">
        </label>
        <label class="size-input mr-10 mb-10" for="">
            <span class="size-input__label">Medium:</span>
            <input class="size-input__feild" value="10" type="number" name="" id="">
        </label>
        <label class="size-input mr-10 mb-10" for="">
            <span class="size-input__label">Large:</span>
            <input class="size-input__feild" value="10" type="number" name="" id="">
        </label>
        <label class="size-input mr-10 mb-10" for="">
            <span class="size-input__label">X-Large:</span>
            <input class="size-input__feild" value="10" type="number" name="" id="">
        </label>
    </div>
</div>


<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">How many colors do you have on your design?</h2>
    <div class="grid-wrapper space-20 col-120 al-i-bl">
        <label class="selector">
            <input type="radio" name="colorType" id="">
            <div class="selector__box">
                <img class="square--56 mb-20" src="/uploads/svg/color-1.svg" alt="">
                <p class="title">1 Color</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="colorType" id="">
            <div class="selector__box">
                <img class="square--56 mb-20" src="/uploads/svg/color-2.svg" alt="">
                <p class="title">2 Colors</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="colorType" id="">
            <div class="selector__box">
                <img class="square--56 mb-20" src="/uploads/svg/color-3.svg" alt="">
                
                <p class="title">3 Colors</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="colorType" id="">
            <div class="selector__box">
                <img class="square--56 mb-20" src="/uploads/svg/color-4.svg" alt="">
                <p class="title">4 Colors</p>
            </div>
        </label>
    </div>
</div>


<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">What style of fold would you like?</h2>
    <div class="grid-wrapper space-20 col-160 al-i-bl">
        <label class="selector is-recomended">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h100" src="/uploads/svg/style_bifold.svg" alt="">
                </div>
                <p class="title">Bifold</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h100" src="/uploads/svg/style_trifold.svg" alt="">
                </div>
                <p class="title">Trifold</p>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="shirtType" id="">
            <div class="selector__box">
                <div class="image-box">
                    <img class="size--h100" src="/uploads/svg/style_zfold.svg" alt="">
                </div>
                <p class="title">Z-Fold</p>
            </div>
        </label>
    </div>
</div>

<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">What style of fold would you like?</h2>
    <div class="grid-wrapper space-20 col-160 al-i-bl">
        <label class="selector is-recomended">
            <input type="radio" name="paper" id="">
            <div class="selector__box">
                <img class="size--h100" src="/uploads/svg/paper_a4.png" alt="">
                <p class="title">DL</p>
                <span class="text">99 x 210 mm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="paper" id="">
            <div class="selector__box">
                <img class="size--h100" src="/uploads/svg/paper_a4-2.png" alt="">
                <p class="title">A4</p>
                <span class="text">210 x 297 mm</span>
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="paper" id="">
            <div class="selector__box">
                <img class="size--h100" src="/uploads/svg/paper_a4-3.png" alt="">
                <p class="title">A5</p>
                <span class="text">148 x 210 mm</span>
            </div>
        </label>
    </div>
</div>


<div class="mb-40">
    <h2 class="text-semi-auto co-primary mb-15">Choose your corners</h2>
    <div class="grid-wrapper space-5 col-160 al-i-bl">
        <label class="selector">
            <input type="radio" name="corners" id="">
            <div class="selector__box d-flx-space">
                <div>
                    <p class="title">Premium Paper</p>
                    <span class="text">150gsm</span>
                </div>
                <img class="size--w28 icon" src="/uploads/svg/paper-type.svg" alt="">
            </div>
        </label>

        <label class="selector">
            <input type="radio" name="corners" id="">
            <div class="selector__box d-flx-space">
                <div>
                    <p class="title">Premium Cardstock</p>
                    <span class="text">12pt (300gsm)</span>
                </div>
                <img class="size--w28 icon" src="/uploads/svg/paper-type2.svg" alt="">
            </div>
        </label>                    
        
    </div>
</div>


<!-- <img class="size--h80" src="/uploads/svg/chest-front.svg" alt=""> -->


