
<div class="flex-1 filter-nav__wrapper">
    <!-- <div class="filter-nav">
        
        {% for entry in filter-list %}
        <h3 class="font-small-auto mb-25">{{ entry.title }}</h3>
        <div class="mb-50">
            {% for subentry in entry.list %}
            <label class="checkbox alt mb-15">
                <input class="check-ticker-input" type="checkbox">
                <span class="tick mr-10"></span>
                <span class="checktext">{{ subentry.name }}</span>
            </label>
            {% endfor %}
        </div>
        {% endfor %}

        <h3 class="font-small-auto mb-25">gdahfhsdf</h3>

    </div> -->
    <ul class="side-nav" uk-switcher=".switcher-list">
        {% for entry in site.products %}
        {% endfor %}
        <li>
            <a href="">Packaging</a>
        </li>
        <li>
            <a href="">Packaging</a>
        </li>
        <li>
            <a href="">Packaging</a>
        </li>
    </ul>
</div>