<form name="contact" method="post" action="/"  data-netlify="true" class="maxwidth-590 mx-auto">
    <div class="flex-grid space-15">
        <div class="half-flex">
            <input class="input" id="firstname" name="firstname" type="text" placeholder="First Name" required>
        </div>
        <div class="half-flex">
            <input class="input" id="lastname" name="lastname" type="text" placeholder="Last Name" required>
        </div>
        <div class="">
            <input class="input" id="company" name="company" type="text" placeholder="Company Name" required>
        </div>
        <div class="">
            <input class="input" id="email" name="email" type="email" placeholder="Email Address" required>
        </div>
        <div class="">
            <input class="input" id="phoneNumber" name="phonenumber" type="text" placeholder="Phone Number" required>
        </div>
        <div>
            <textarea placeholder="Message" id="message" class="input " name="message" cols="30" rows="5" required></textarea>
        </div>
        <div>
            <button class="btn btn--standard w-100p" type="submit">Submit Enquiry</button>
        </div>
    </div>
</form>